<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mon App Web</title>
  </head>
  <body>

    <!-- TP : Créer un menu pour naviguer dans l'APP : -->

    <a href="/">Accueil</a>

    <a href="/contact">Contact</a>

    <a href="/news/france">News France</a>

    <a href="/histoire">histoire</a>
 
