<%- include ../partials/header.ejs %>

<h1> Histoire </h1>


<ul>
    <% infos.forEach(function(info) { %>
        <li><%= info.date %> - <%= info.evenement %></li>
    <% }); %>
</ul>







<%- include ../partials/footer.ejs %>
